*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  margin: 5em auto;
  width: 50%;
  height: 80%;
  background-color: #0B2434;
  padding: 2em;
}

.container{
  background-color: #F5F5F5;
  padding: 2em;
  border-radius: 4px;
}

.text{
  text-align: center;
}

.text p{
  padding: 1em;
  font-size:x-large;
}

.die{
  height: 37px;
  width: 37px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.activeDie{
  background-color: rgb(3, 63, 133);
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.dies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 10px;
  padding-left: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
}

button{
  padding: 1em;
  background-color: #0B2434;
  color: #F5F5F5;
  margin-left: 18em;
}